:root {
  --col-dark: #020;
  --col-light: #7f7;
}
* { 
  padding: 0;
  margin: 0;
}
body {
  font-family: monospace;
  font-size: 100%;
  color: var(--col-light);
  background: var(--col-dark);
}
main {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
main * + * {
  margin-top: 1.5em;
}
form > div {
  display: flex;
  gap: 1em;
  align-items: baseline;
}
form > div * + * {
  margin-top: 0;
}
form > div > label {
  width: 10em;
}
form > div input {
  flex-grow: 1;
}
input {
  font-family: inherit;
  border: 1px border #030;
  padding: 0.5em;
  display: block;
  color: unset;
  background: unset;
}
input[type=submit] {
  border: none;
  color: var(--col-light);
  background: var(--col-dark);
  padding: 0.5em 1em;
  border-radius: 1em;
}
form, div.app, section {
  color: var(--col-dark);
  border: 1px solid #7f7;
  border-color: var(--col-light);
  background: #efe;
  border-radius: 0.5em;
  padding: 1em;
}